:root {
    --primary: #3da9fc;
    --accent: #FF6584;
    --bg: #fffffe;
    --text: #2D2D2D;
    --button: #3da9fc;
    --headline: #094067;
    --subtle: #5f6c7b;
    --button-text: #fffffe;
    --tertiary: #ef4565;
}

.subtle{
    color:var(--subtle);
}

h1, h2, h3, h4 {
    color: var(--headline-color);
}

body {
    background-color: var(--bg);
/*    color: var(--text-color);*/
}

.btn {
    border-radius: 8px;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 9px rgba(108, 99, 255, 0.4);
    transition: all 0.2s ease;
}

.btn-primary {
    background-color: var(--primary);
    border: none;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
